@charset "UTF-8";


*{
    font-family:'Courier New', Courier, monospace ;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:rgb(114, 19, 204) ;  
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    overflow: hidden;


    background-color: white;
    width:250px ;
    height:500px ;
    border-radius: 20px;

    transition: width .3s height .3s;
}
section#login > div#imagem{
    display: block;
    background: url(../imagens/pexels-josh-hild-1270765-3229806.jpg) no-repeat center center;
    background-size: cover; /* Mantém a imagem inteira dentro */
    height: 200px; /* ajusta a altura que tu quiser */
    border-radius: 20px 20px 0 0; /* arredonda só em cima */
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
